//--Media-Break-Points
$layout-breakpoint-xs: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xl: 1200px;

//--LogIn
$login-header-color: #3FA011;
$login-input-color: #ced4da;
$login-font-color: black;

//--Navbar
$nav-link-color: black;
$logo-color: #0abd48;
$badge-shadow-color: rgba(0, 0, 0, 0.5);
$badge-font-color: white;

//--user-table
$checkout-quantity-svg-color: #D4C3BD;
$checkout-active-pagination-color: #81C784;
$checkout-pagination-color: #4F86A7;