//--Media-Break-Points
$layout-breakpoint-xs: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xl: 1200px;

//--LogIn
$login-header-color: #3FA011;
$login-input-color: #ced4da;
$login-font-color: black;